<!doctype html>
<html lang="en">
<%- include('head') -%>
<link rel="stylesheet" href="assets/css/slider-styles.css">
<body>

<div class="main-container">

    <header>
        <h1>Австралия</h1>
    </header>

    <main>

        <div class="some-content">
            <iframe src="https://www.youtube.com/embed/eDHHj4JVrSg" frameborder="0"></iframe>
        </div>

        <a href="/history_arch" class="history-info">
            <span>
                На главную
            </span>
        </a>
    </main>

    <div class="space"></div>
</div>

<%- include('scripts') -%>
</body>
</html>